<div class="jumbotron center">
<h1>The future of Wide-Format</h1>
<p>
	 <%= link_to "Log in", "#", class: "btn btn-default btn-lg"  %> 
	 <%= link_to "Sign Up", "#", class: "btn btn-success btn-lg"  %> 
</p> 
</div>
